<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flyfarladies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlyFarLadies"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".Packages.PackagePlaceDetails"
            android:exported="false" />
        <activity
            android:name=".Packages.CountryPackagesActivity"
            android:exported="false" />
        <activity
            android:name=".Services.ResortActivity"
            android:exported="false" />
        <activity
            android:name=".Services.RentaCarActivity"
            android:exported="false" />
        <activity
            android:name=".Services.HotelsActivity"
            android:exported="false" />
        <activity
            android:name=".Services.Private_VillaActivity"
            android:exported="false" />
        <activity
            android:name=".Services.VisaActivity"
            android:exported="false" />
        <activity
            android:name=".Services.FlightActivity"
            android:exported="false" />
        <activity
            android:name=".Booking.MyBookingActivity"
            android:exported="false" />
        <activity
            android:name=".Videos.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".Packages.BudgetPackagesActivity"
            android:exported="false" />
        <activity
            android:name=".Packages.PackageDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Packages.PackagesMainActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.OfferPageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Booking.BookingPageActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.MyTripsActivity"
            android:exported="false" />
        <activity
            android:name=".Review.MyReviewActivity"
            android:exported="false" />
        <activity
            android:name=".Review.AddReviewActivity"
            android:exported="false" />
        <activity
            android:name=".Booking.BookingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.FavouritesActivity"
            android:exported="false" />
        <activity
            android:name=".Booking.ThankYouActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>